#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.tile{
  width:30px;
  height:30px;
  border:solid 1px rgb(0, 0, 0);
  background-color:rgb(127, 229, 255);
}
.ball{
  height: 30px;
  width: 30px;
  background-color: #861818;
  border-radius: 50%;
  justify-content: center;

}
.wall{
  background-color:black;
  border:solid 1px rgb(255, 255, 255);
}
.portal{
  background-color:blueviolet;
} 
.Controls{
  margin-bottom: 30px;
  display:flex;
  gap:10px;
  place-content: end center;
}
.Board{
  display: grid;
  place-content: end center;
}

